body {
  background-image: url("/waterquest/img/background.png");
  background-attachment: fixed;
  background-color: black;
  color:white;
  text-align: center;
  font-family: "open sans";
}
.main {
  margin-top: 0%;
  font-size: 20px;
}
.condensed {
  font-family: "Open Sans Condensed";
}
.align-left {
  text-align: left;
}
span.blue {
  color: #0297d9;
}
.light {
  font-weight: 300;
}
.logo {
  margin-top: 0.5%;
  height: 115px;
  width: 115px;
  margin-bottom: 2%;
}
@media screen and (max-width: 39.9375em) {
  .logo {
    float: left;
    margin-left: 10px;
    height: 100px;
  }
}
.logo-eau {
  position: absolute;
  height: 74px;
  right: 30px;
  top: 25px;
}
@media screen and (max-width: 39.9375em) {
  .logo-eau {
    float: right;
    position: initial;
    margin-right: 10px;
  }
}
.subtitle {
  font-size: 27px;
  line-height: 0.8;
}
.title.blue {
  font-weight: 700;
  font-size: 70px;
}
@media screen and (max-width: 39.9375em) {
  .title.blue {
    font-size: 70px;
    line-height: 1;
    margin-bottom: 33px;
  }
}
.nbrquestion {
  color: #0297d9;
  font-family: "open sans condensed";
  font-weight: 300;
  font-size: 37px;
  margin-bottom: 0px;
  margin-top: 20px;
}
.nbrquestion .first {
  font-family: "open sans";
  font-weight: 800;
}
.question {
  font-family: "open sans";
  font-weight: 800;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 12px;
}
form li {
  list-style: none;
}
input[type='radio'] {
  display:none;
}
input + label span:not(.radio-txt) {
  display:inline-block;
  width:19px;
  height:19px;
  margin:8px 10px 0 0;
  vertical-align:middle;
  float: left;
}
input[type="radio"] + label span:not(.radio-txt) {
  background:url("/waterquest/img/radiobox.png") left top no-repeat;
}
input[type="radio"]:checked + label span:not(.radio-txt) {
  background:url("/waterquest/img/radiobox.png") -19px top no-repeat;
}
.radio-txt {
  overflow:hidden;
  display: block;
}
label {
  cursor:pointer;
  font-family: "open sans condensed";
}
.reponses {
  text-align: left;
}
@media screen and (min-width: 40em) {
  .reponses {
    padding: 0px 29%;
  }
}
form li {
}
form select {
  width: 35%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  color: black;
}
.mieux-connaitre {
  margin-top: 40px;
  font-family: "open sans";
  font-weight: 800;
  text-transform: uppercase;
}
.perso {
}
.inter-text {
  font-family: "Open Sans Condensed";
  font-weight: 800;
}
@media screen and (min-width: 40em) {
  .inter-text {
    padding: 0px 20%;
  }
  .fields {
    padding: 0 30%;
  }
}
.fields input, .fields select {
  width: 100%;
}
.fields .split > input:first-child {
  width: 47%;
  margin-right: 1%;
}
.fields .split > input:last-child {
  width: 49%;
  margin-left: 1%;
}
.fields .split.last {
  text-align: left;
}
.fields .split.last input{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.fields .validate {
  background-color: #0297d9;
}
.button.validate {
  border-radius: 8px;
  font-size: 22px;
  font-family: "open sans condensed";
  font-weight: 300;
  width: 100%;
  margin-top: 20px;
}
input, select {
  font-family: "open sans condensed";
}
form input[type="text"],
form input[type="tel"],
form input[type="email"],
form input[type="number"],
select {
  border: medium none;
  padding: 7px;
  border-radius: 7px;
}
form input[type="text"],
form input[type="tel"],
form input[type="email"],
form input[type="number"] {
  margin-bottom: 20px;
  color: black;
}
select {
  -webkit-appearance:none;
  -moz-appearance:none;
  cursor: pointer;
  background: url("/waterquest/img/select.png") #ffffff no-repeat 98% 50%;
}
.bold {
  font-weight: 700;
}
.footer {
  margin-top: 3%;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}
.footer img {
  height: 25px;
  margin-left: 6px;
}
.footer .footer-logo {
  height: 70px;
}
.footer span {
  color: #373737;
}
.footer a, .footer .suivez-nous {
  color: white;
}
.footer .links {
  margin-top: 15px;
}
.footer .suivez-nous {
  margin-right: 10px;
}
.challenge {
  font-family: "Open Sans Condensed";
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
  margin-top: 30px;
}
.result {
  background-color: #0297d9;
  font-family: "Open Sans Condensed";
  padding-top: 15px;
  margin-top: 60px;
}
.result .result-img {
  margin-top: 35px;
  margin-bottom: 30px;
}
.result-end {
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: white;
  text-align: left;
  font-family: "Open Sans Condensed";
}
.result-end p {
  color: #575757;
  margin-bottom: 0;
}
.result-quest {
  font-weight: normal;
}
.result .result-title {
  font-size: 27px;
  font-weight: 800;
  text-transform: uppercase;
}
.chart-title {
  font-family: "Open Sans Condensed";
  font-size: 20px;
  font-weight: 700;
}
.chart {
  height:136px;
  width:136px;
  margin: 0 auto;
}
.chart-0 {background-image: url("/waterquest/img/0-chart.png");}
.chart-25 {background-image: url("/waterquest/img/25-chart.png");}
.chart-50 {background-image: url("/waterquest/img/50-chart.png");}
.chart-75 {background-image: url("/waterquest/img/75-chart.png");}
.chart-100 {background-image: url("/waterquest/img/100-chart.png");}
.chart-end {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 8px;
}
.chart p {
  font-family: "Open Sans condensed";
  font-size: 45px;
  font-weight: 700;
  padding-top: 22%;
}
.chart-sub {
  font-size: 50px;
  display: block;
}
@media screen and (min-width: 40em) {
  .show-for-small-only {
    display: none !important;
  }
}
@media screen and (max-width: 39.9375em) {
  .hide-for-small {
    display: none !important;
  }
}
.optin {
  font-size: 12px;
}
.credits {
  color: black;
}
.flag-dropdown {
  color: black;
}
.close-button {
  font-family: none;
  margin-left: 10px;
  font-size: 20px;
}
.logo-share {
  float: right;
  margin-top: 10px;
}
.reponse-email {
  font-size: 12px;
  margin-top: 20px;
}
.container-video {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  z-index: -1;
}
.container-video .video-bg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 0;
  height: 100%;
}
@media (min-width: 80em) {
  .container-video .video-bg {
    width: 100%;
    height: auto;
    top: 50%;
    left: 0%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
/* Disabling the spinner on firefox and chrome for input number */
input[type=number] {-moz-appearance: textfield;}
::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}
