@charset "UTF-8";
/*------------------------------------*		Easing
\*------------------------------------*/
/*------------------------------------*		Functions
\*------------------------------------*/
/**
 * A function helper to avoid having to type `map-get($z-layers, ...)`
 * Based on http://css-tricks.com/handling-z-index/
 * @param  {string} $layer The name of the z-index
 * @param  {number} $var   The modifier if needed
 * @return {number}        The corresponding z-index based on the $z-layers var
 */
/**
 * Remove units from the given number
 * @param  {number} $number The number with units
 * @return {number}
 */
/**
 * Create variables for the media queries
 * @param  {string} $breakpoint The breakpoint
 * @param  {string} $type       Type of media query (min or max)
 * @param  {string} $unit       The unit for the media queries (em or px)
 * @return {string}             A media query expression
 */
/**
 * Slightly lighten a color
 * @access public
 * @param {Color} $color - color to tint
 * @param {Number} $percentage - percentage of `$color` in returned color
 * @return {Color}
 */
/**
 * Slightly darken a color
 * @access public
 * @param  {color}  $color       color to shade
 * @param  {number} $percentage  percentage of `$color` in returned color
 * @return {Color}
 */
/**
 * Power function
 * @param  {number} $number Number to apply power
 * @param  {number} $exp    The exponant for the power
 * @return {number}         The powered number
 */
/**
 * Factorial function
 * @param  {number} $number The number to factorize
 * @return {number}         The factorised number
 */
/**
 * Pi reference
 * @return {number} Retrun PI with 11 decimals
 */
/**
 * Convert deg to rad
 * @param  {string} $angle The angle to convert
 * @return {number}        The unitless angle converted to rad
 */
/**
 * Calculate the sinus of an angle
 * @param  {string} $angle The angle to compute
 * @return {number}        The sinus of the given angle
 */
/**
 * Calculate the cosinus of an angle
 * @param  {string} $angle The angle to compute
 * @return {number}        The cosinus of the given angle
 */
/**
 * Calculate the tangent of an angle
 * @param  {string} $angle The angle to compute
 * @return {number}        The tangent of the given angle
 */
/*---------------------------------------*		Positions & dispositions
\*---------------------------------------*/
/*---------------------------------------*		Typographie
\*---------------------------------------*/
/*---------------------------------------*		Triangles
\*---------------------------------------*/
/*---------------------------------------*		SVG Responsive
\*---------------------------------------*/
/*
Utilitaire pour le padding hack qui permet d'avoir des fichiers `*.svg` responsive.
Plus d'infos ici : http://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/
*/
/*---------------------------------------*		Debug
\*---------------------------------------*/
/*
Une condition dépendante de la variable `$debug` qui permet d'afficher les contours de tous les élements du DOM.
*/
[debug] {
  display: none;
}

/*------------------------------------*		Positionnement & Display
\*------------------------------------*/
.none {
  display: none;
}

.table {
  display: table;
}

.cell {
  display: table-cell;
}

.inlbl {
  display: inline-block;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.cf:after, .cf:before {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

/*------------------------------------*		Typographie
\*------------------------------------*/
.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing: antialiased;
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

/*---------------------------------------*		Styles et réglages globaux
\*---------------------------------------*/
/*---------------------------------------*		Sélection
\*---------------------------------------*/
::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #00f;
}

::selection {
  text-shadow: none;
  color: #fff;
  background: #00f;
}

/*---------------------------------------*		Réglages globaux
\*---------------------------------------*/
*,
*:after,
*:before {
  position: relative;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #000;
}

html.mac {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing: antialiased;
}

@media (max-width: 64em) {
  html {
    background: #000 url(../img/layout/bg-xl.jpg) bottom left no-repeat;
    background-size: cover;
  }
}

@media (max-width: 30em) {
  html {
    height: 100vh;
    background: #000 url(../img/layout/bg.jpg) bottom left no-repeat;
    background-size: cover;
  }
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1em;
  color: #FFF;
  font-weight: 300;
  height: 100%;
}

body.quiz {
  height: auto;
}

@media (max-width: 30em) {
  body {
    height: auto;
    overflow: auto;
  }
}

/*
Typographie
===========

Règles de base pour tout le site (h1, h2, blockquote, etc).

-->    http://type-scale.com/    <--

Pratique pour générer des rythmes typographiques rapidement
*/
body {
  line-height: 1.45;
}

p,
ul,
ol,
blockquote {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
  font-weight: 700;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
}

small {
  font-size: 0.75em;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #FFF;
}

/*------------------------------------*		Buttons
\*------------------------------------*/
.btn {
  cursor: pointer;
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  color: #FFF !important;
  overflow: hidden;
  font-weight: 700;
  border-radius: 5px;
}

@media (max-width: 30em) {
  .btn {
    font-size: 12px;
  }
}

.btn:before {
  -webkit-transition: all 5s linear;
          transition: all 5s linear;
  content: '';
  height: 100%;
  background: #0297d9;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.btn .progress {
  height: 100%;
  background: #0297d9;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.btn span {
  display: block;
  line-height: 1.2em;
  padding: 23px 70px;
}

@media (max-width: 30em) {
  .btn span {
    padding: 16px 70px;
  }
}

.btn span:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  border: 2px solid #0297d9;
  border-radius: 5px;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover span:before {
  -webkit-transform: scale(0.95, 0.9);
      -ms-transform: scale(0.95, 0.9);
          transform: scale(0.95, 0.9);
}

.btn.active span:before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

/*------------------------------------*		Pictogrammes
\*------------------------------------*/
.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon svg {
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  display: block;
}

.icon-fb,
.svg-fb {
  width: 8px;
  height: 16px;
}

.icon-tw,
.svg-tw {
  width: 13px;
  height: 12px;
}

.icon-insta,
.svg-insta {
  width: 25px;
  height: 25px;
}

.icon-youtube,
.svg-youtube {
  width: 60px;
  height: 25px;
}

.icon-gift,
.svg-gift {
  width: 17px;
  height: 20px;
}

.icon-gift *,
.svg-gift * {
  fill: #FFF;
}

/*------------------------------------*		Header
\*------------------------------------*/
.main-logo {
  width: 115px;
  height: 103px;
  margin: auto;
  background: transparent url(../img/layout/logo.png) center center no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
}

@media (max-width: 48em) {
  .main-logo {
    position: absolute;
    top: 25px;
    left: 30px;
  }
}

@media (max-width: 30em) {
  .main-logo {
    width: 50px;
    height: 45px;
    background-size: contain;
    top: 15px;
    left: 15px;
  }
}

.logo-jme {
  position: absolute;
  top: 25px;
  right: 30px;
  z-index: 2;
  opacity: 0;
  display: block;
}

@media (max-width: 30em) {
  .logo-jme {
    top: 15px;
    width: 65px;
    right: 15px;
    opacity: 1;
  }
}

/*------------------------------------*		Footer
\*------------------------------------*/
.main-footer {
  height: 110px;
  line-height: 60px;
  background: #000;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 114px;
  z-index: 2;
  display: none;
}

@media (max-width: 64em) {
  .main-footer {
    padding: 10px 50px;
    height: 80px;
  }
}

@media (max-height: 800px) {
  .main-footer {
    display: none !important;
  }
}

@media (max-width: 48em) {
  .main-footer {
    height: auto;
    padding: 10px 20px;
    display: block;
  }
}

@media (max-width: 30em) {
  .main-footer {
    position: relative;
    bottom: auto;
    left: auto;
    display: block !important;
    line-height: 1.4em;
    padding: 15px 10px;
  }
}

.quiz .main-footer {
  position: relative;
  display: block !important;
}

.main-footer .main-logo {
  width: 70px;
  height: 60px;
  background-size: contain;
  float: left;
}

@media (max-width: 48em) {
  .main-footer .main-logo {
    position: relative;
    float: none;
    margin: auto;
    margin-bottom: 15px;
    display: block;
    top: auto;
    left: auto;
  }
}

@media (max-width: 30em) {
  .main-footer .main-logo {
    margin-top: 25px;
  }
}

.main-footer ul {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  border: 0;
  margin: 0;
  display: block;
  font-size: 14px;
  padding: 0;
  float: right;
  font-weight: 700;
}

@media (max-width: 48em) {
  .main-footer ul {
    float: none;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 30em) {
  .main-footer ul {
    font-size: 12px;
  }
}

.main-footer ul li {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  border: 0;
  display: inline-block;
  padding-left: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  margin-left: 15px;
  line-height: 1em;
}

@media (max-width: 30em) {
  .main-footer ul li {
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}

.main-footer ul li:first-child {
  padding: 0;
  margin: 0;
  border: none;
}

@media (max-width: 30em) {
  .main-footer ul li:last-child {
    margin: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    border: none;
    display: block;
  }
  .main-footer ul li.hidden-xs {
    display: none;
  }
}

.main-footer ul li a {
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.main-footer ul li a:hover {
  opacity: 0.7;
}

.main-footer ul li .social {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  width: 25px;
  height: 25px;
  background: #FFF;
  margin: 0 2px;
}

.main-footer ul li .social.norounded {
  background: transparent;
  border-radius: 0;
  width: auto;
  height: auto;
}

.main-footer ul li .social.norounded .icon {
  vertical-align: top;
}

.main-footer ul li .social.norounded svg {
  fill: #FFF;
}

.main-footer .credits {
  display: none;
}

@media (max-width: 30em) {
  .main-footer .credits {
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 1.3em;
    margin: 25px 0;
    opacity: 0.5;
  }
}

.credits-popin {
  font-family: 'Open Sans';
  color: #000;
  font-weight: normal;
  font-size: 16px;
}

.credits-popin a {
  color: #0297d9;
}

.snow {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent url(../img/layout/snow.gif) top left repeat;
  z-index: 1;
  margin: 0;
}

@media (max-width: 30em) {
  .snow {
    display: none;
  }
}

.loader {
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
}

.loader:before {
  width: 64px;
  height: 64px;
  display: block;
  background: transparent url(../img/layout/loader.png) center center no-repeat;
  margin: auto;
  content: '';
  -webkit-animation: loader 1s infinite;
          animation: loader 1s infinite;
}

.loader p {
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 15px;
  opacity: 0;
}

.loader .btn {
  opacity: 0;
}

@media (max-width: 30em) {
  .loader {
    display: none;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main-content {
  height: 695px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  display: none;
  width: 100%;
  margin-top: -55px;
  z-index: 2;
}

@media (max-width: 64em) {
  .main-content {
    height: 635px;
    margin-top: -40px;
  }
}

@media (max-height: 800px) {
  .main-content {
    margin-top: 0;
  }
}

@media (max-width: 48em) {
  .main-content {
    height: auto;
    position: relative;
    width: 95%;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin: 0 auto;
    padding-top: 140px;
    left: auto;
    top: auto;
  }
}

@media (max-width: 30em) {
  .main-content {
    padding-top: 60px;
    display: block;
    padding-bottom: 30px;
    width: 90%;
  }
}

.quiz .main-content {
  position: relative;
  top: auto;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
  left: auto;
  height: auto;
}

.main-content .presente {
  position: absolute;
  margin-top: 20px;
  font-size: 30px;
  width: 100%;
}

@media (max-width: 48em) {
  .main-content .presente {
    top: -90px;
    margin: 0;
  }
}

@media (max-width: 30em) {
  .main-content .presente {
    display: none;
  }
}

.main-content .subtitle {
  font-size: 25px;
}

@media (max-width: 64em), (max-height: 800px) {
  .main-content .subtitle {
    font-size: 20px;
  }
}

@media (max-width: 30em) {
  .main-content .subtitle {
    font-size: 14px;
  }
}

.main-content .hashtag {
  width: 700px;
  height: 130px;
  margin: 0 auto;
}

@media (max-width: 30em) {
  .main-content .hashtag {
    display: none;
  }
}

.main-content .hashtag-txt {
  margin: 0;
  margin-bottom: 10px;
  font-size: 54px;
  text-align: center;
  font-weight: 800;
  display: none;
  font-family: 'Open Sans', sans-serif;
  line-height: 1em;
}

.main-content .hashtag-txt i {
  font-style: normal;
  font-weight: 300;
}

.main-content .hashtag-txt span {
  color: #0297d9;
}

@media (max-width: 30em) {
  .main-content .hashtag-txt {
    display: block;
  }
}

.container-video {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

@media (max-width: 64em) {
  .container-video {
    display: none;
  }
}

.container-video .video-bg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: auto;
  z-index: 0;
  height: 100%;
}

@media (min-width: 80em) {
  .container-video .video-bg {
    width: 100%;
    height: auto;
    top: 50%;
    left: 0%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.container-video .video-bg.video-stressed {
  opacity: 0;
}

@media (max-width: 30em) {
  .container-video {
    display: none;
  }
}

.step1 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.step1 p {
  font-size: 20px;
}

.step1 p .icon {
  top: -4px;
  margin-right: 5px;
}

@media (max-width: 30em) {
  .step1 p {
    font-size: 13px;
  }
}

.step1 .container-water {
  width: 100%;
  height: 260px;
}

@media (max-width: 64em), (max-height: 800px) {
  .step1 .container-water {
    height: 200px;
  }
}

@media (max-width: 30em) {
  .step1 .container-water {
    height: auto;
  }
}

.step1 .container-water img {
  display: none;
}

@media (max-width: 30em) {
  .step1 .container-water img {
    display: block;
    max-width: 100%;
    margin: auto;
  }
}

.step1 .water {
  background: transparent url(../img/calm-water.png) top center no-repeat;
  -webkit-animation: waterCalm 2.5s steps(59) infinite;
          animation: waterCalm 2.5s steps(59) infinite;
  width: 100%;
  height: 100%;
  width: 610px;
  height: 520px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 64em), (max-height: 800px) {
  .step1 .water {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
        -ms-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
}

@media (max-width: 30em) {
  .step1 .water {
    display: none;
  }
}

.step1 .water-stressed {
  background: transparent url(../img/stressed-water.png) top center no-repeat;
  width: 100%;
  height: 100%;
  width: 620px;
  height: 530px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: waterStressed 5s steps(119) infinite;
          animation: waterStressed 5s steps(119) infinite;
}

@media (max-width: 64em), (max-height: 800px) {
  .step1 .water-stressed {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
        -ms-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
}

@media (max-width: 30em) {
  .step1 .water-stressed {
    display: none;
  }
}

.step1 .blue {
  color: #0297d9;
}

.step1 .btn {
  margin-bottom: 20px;
}

@-webkit-keyframes waterCalm {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% -30680px;
  }
}

@keyframes waterCalm {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% -30680px;
  }
}

@-webkit-keyframes waterStressed {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% -63070px;
  }
}

@keyframes waterStressed {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% -63070px;
  }
}

.step2 {
  display: none;
  font-weight: normal;
  font-family: 'Open Sans';
}
