.snow {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: transparent url(../img/layout/snow.gif) top left repeat;
	z-index: z('default');

	@media #{md('smaller', 'max')} {
		display: none;
	}
}

.loader {
	&:before {
		width: 64px;
		height: 64px;
		display: block;
		background: transparent url(../img/layout/loader.png) center center no-repeat;
		margin: auto;
		content: '';
		animation: loader 1s infinite;
	}
	top: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: z('dropdown');

	p {
		text-transform: uppercase;
		margin-top: 15px;
		font-size: 20px;
		margin-bottom: 15px;
		opacity: 0;
	}

	.btn {
		opacity: 0;
	}

	@media #{md('smaller', 'max')} {
		display: none;
	}
}

@keyframes loader {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.main-content {
	height: 695px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	display: none;
	margin-top: -55px;
	z-index: z('default', 1);

	@media #{md('normal', 'max')} {
		height: 635px;
		margin-top: -40px;
	}
	@media (max-height: 800px) {
		margin-top: 0;
	}

	@media #{md('small', 'max')} {
		height: auto;
		position: relative;
		width: 95%;
		transform: none;
		margin: 0 auto;
		padding-top: 140px;
		left: auto;
		top: auto;
	}

	@media #{md('smaller', 'max')} {
		padding-top: 60px;
		display: block;
		padding-bottom: 30px;
		width: 90%;
	}
}


.container-video {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: z('default', -1);
	overflow: hidden;

	@media #{md('normal', 'max')} {
		display: none;
	}

	.video-bg {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: z('default', -1);
		height: 100%;

		@media #{md("large")} {
			width: 100%;
			height: auto;
			top: 50%;
			left: 0%;
			transform: translateY(-50%);

		}

		&.video-stressed {
			opacity: 0;
		}
	}

	@media #{md('smaller', 'max')} {
		display: none;
	}
}