.snow {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: transparent url(../img/layout/snow.gif) top left repeat;
	z-index: z('default');

	@media #{md('smaller', 'max')} {
		display: none;
	}
}

.loader {
	width: 64px;
	height: 64px;
	display: block;
	position: absolute;
	background: transparent url(../img/layout/loader.png) center center no-repeat;
	top: 50%;
	left: 50%;
	margin-left: -32px;
	animation: loader 1s infinite;

	@media #{md('smaller', 'max')} {
		display: none;
	}
}

@keyframes loader {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.main-content {
	height: 695px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	display: none;
	margin-top: -55px;
	z-index: z('default', 1);

	@media #{md('normal', 'max')}, (max-height: 800px) {
		height: 635px;
		margin-top: -40px;
	}

	@media #{md('small', 'max')} {
		height: auto;
		position: relative;
		width: 95%;
		transform: none;
		margin: 0 auto;
		padding-top: 140px;
		left: auto;
		top: auto;
	}

	@media #{md('smaller', 'max')} {
		padding-top: 60px;
		display: block;
		padding-bottom: 30px;
		width: 90%;
	}
}


.container-video {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: z('default', -1);
	overflow: hidden;

	.video-bg {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: z('default', -1);
		height: 100%;

		@media #{md("large")} {
			width: 100%;
			height: auto;
			top: 50%;
			left: 0%;
			transform: translateY(-50%);

		}

		&.video-stressed {
			display: none;
		}
	}

	@media #{md('smaller', 'max')} {
		display: none;
	}
}