/*------------------------------------*\
		Footer
\*------------------------------------*/

.main-footer {
	height: 110px;
	line-height: 60px;
	background: #000;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 25px 114px;
	z-index: z('default', 1);
	display: none;

	@media #{md('normal', 'max')} {
		padding: 10px 50px;
		height: 80px;
	}
	@media (max-height: 800px) {
		display: none !important;
	}
	@media #{md('small', 'max')} {
		height: auto;
		padding: 10px 20px;
		display: block;
	}

	@media #{md('smaller', 'max')} {
		position: relative;
		bottom: auto;
		left: auto;
		display: block !important;
		line-height: 1.4em;
		padding: 15px 10px;
	}

	.quiz & {
		position: relative;
		display: block !important;
	}

	.main-logo {
		width: 70px;
		height: 60px;
		background-size: contain;
		float: left;
		
		@media #{md('small', 'max')} {
			position: relative;
			float: none;
			margin: auto;
			margin-bottom: 15px;
			display: block;
			top: auto;
			left: auto;
		}

		@media #{md('smaller', 'max')} {
			margin-top: 25px;
		}
	}

	ul {
		vertical-align: baseline;
		margin: 0;
		padding: 0;
		font: inherit;
		font-size: 100%;
		border: 0;
		margin: 0;
		display: block;
		font-size: 14px;
		padding: 0;
		float: right;
		font-weight: 700;

		@media #{md('small', 'max')} {
			float: none;
			width: 100%;
			text-align: center;
		}
		@media #{md('smaller', 'max')} {
			font-size: 12px;
		}

		li {
			vertical-align: baseline;
			margin: 0;
			padding: 0;
			font: inherit;
			font-size: 100%;
			border: 0;
			display: inline-block;
			padding-left: 15px;
			border-left: 1px solid rgba(255, 255, 255, 0.6);
			margin-left: 15px;
			line-height: 1em;

			@media #{md('smaller', 'max')} {
				padding-left: 10px;
				margin-left: 10px;
				margin-bottom: 20px;
			}

			&:first-child {
				padding: 0;
				margin: 0;
				border: none;
			}


			@media #{md('smaller', 'max')} {
				&:last-child {
					margin: 0;
					width: 100%;
					padding: 0;
					text-align: center;
					border: none;
					display: block;
				}

				&.hidden-xs {
					display: none;
				}
			}

			a {
				transition: all 0.3s ease;

				&:hover {
					opacity: 0.7;
				}
			}

			.social {
				display: inline-block;
				border-radius: 50%;
				text-align: center;
				line-height: 25px;
				width: 25px;
				height: 25px;
				background: #FFF;
				margin: 0 2px;

				&.norounded {
					background: transparent;
					border-radius: 0;
					width: auto;
					height: auto;

					.icon {
						vertical-align: top;
					}

					svg {
						fill: #FFF;
					}
				}
			}
		}
	}

	.credits {
		display: none;

		@media #{md('smaller', 'max')} {
			display: block;
			font-size: 12px;
			text-align: center;
			line-height: 1.3em;
			margin: 25px 0;
			opacity: 0.5;
		}
	}
}

.credits-popin {
	font-family: 'Open Sans';
	color: #000;
	font-weight: normal;
	font-size: 16px;

	a {
		color: $blue;
	}
}
