---
---
<!DOCTYPE HTML>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="fr"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="fr"><![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="fr"><![endif]-->
	<head>
		{% include analytics/woopra.html %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>SOLIDARITÉS INTERNATIONAL | Water Quest</title>
		<meta name="description" content="Participez au challenge #Water_Quest. L'eau a des pouvoirs cachés. Tentez de les maitriser !">
		<link rel="canonical" href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, user-scalable=yes">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,800' rel='stylesheet' type='text/css'>


		<link rel="shortcut icon" href="favicon.ico">
		<!-- http://realfavicongenerator.net/ pour générer les favicons -->
		<script type="text/javascript" src="https://www.gstatic.com/swiffy/v7.4/runtime.js"></script>
		<link rel="stylesheet" href="/waterquest/assets/css/styles.css">
	</head>
	<body>

		<figure class="snow"></figure>

		{% if site.data.waterquest.logo_jme %}
		<img alt="Journée mondiale de l'eau" src="/waterquest/assets/img/layout/logo-jme.png" class="logo-jme" />
		{% endif %}

	    <div class="loader tac">
	    	<p>Impatient de commencer le test ?</p>
	    	<a href="/waterquest/quiz-skip.html" class="btn"><span>Je passe l'introduction</span></a>
	    </div>

		<div class="main-content">
			<a href="http://www.solidarites.org" class="main-logo">Solidarités international</a>

			<div class="step1 tac">
				<p class="presente"><strong>Présente</strong></p>
			    <div id="swiffycontainer" class="hashtag"></div>
			    <h1 class="hashtag-txt"><i>#</i><br><span>WATER<br>_</span>QUEST</h1>

			    <p class="subtitle">L’EAU A DES POUVOIRS CACHÉS. TENTEZ DE LES MAITRISER !</p>


			    <div class="container-water">
			    	<div class="water"></div>
			    	<div class="water-stressed"></div>
			    	<img src="assets/img/goutte.png" alt="">
			    </div>

			    <a href="/waterquest/quiz.html" class="btn start-trigger"><span>Je commence le test</span></a>
			    <p class="desc">
			    	<i class="icon icon-gift">
					    <svg viewBox="0 0 19.9 22.5" class="svg-gift">
					        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/waterquest/assets/svg/sprite.svg#svg-gift"></use>
					        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-gift"></use>
					    </svg>
					</i>
					<strong>Les 150 premiers gagnants <span class="blue">recevront un économiseur d’eau.</span></strong></p>
		    </div>
		</div>

		<!-- AUDIO -->
		<audio id="loading" preload loop autoplay>
			<source src="/waterquest/assets/media/loading-cut-long-low.mp3" type="audio/mp3">
		</audio>
		<audio id="end-loading" preload>
			<source src="/waterquest/assets/media/end-loading.mp3" type="audio/mp3">
		</audio>
		<audio id="up-240" preload>
			<source src="/waterquest/assets/media/up-240.mp3" type="audio/mp3">
		</audio>
		<audio id="revelation" preload loop>
			<source src="/waterquest/assets/media/revelation.mp3" type="audio/mp3">
		</audio>
		<!-- /AUDIO -->

		<!-- VIDEO -->
		<div class="container-video">
			<video class="video-bg video-calm" data-src="/waterquest/assets/media/CalmBG.mp4">
			</video>
			<video class="video-bg video-stressed" data-src="/waterquest/assets/media/StressedBG.mp4" >
			</video>
		</div>
		<!-- /VIDEO -->

		<footer class="main-footer">
			<ul>
				<li><a href="http://www.solidarites.org" target="_blank">SOLIDARITÉS INTERNATIONAL</a></li>
				<li><a href="http://www.solidarites.org/fr/mentions-legales" target="_blank">Mentions légales</a></li>
				<li class="hidden-xs"><a data-open="credits" target="_blank">Crédits</a></li>
				<li><a href="http://www.solidarites.org/fr/nous-contacter/contacter-le-service-relations-donateurs?view=message&layout=message&pf=1&redirect_on_success=" target="_blank">Contact</a></li>
				<li>
					Suivez-nous sur&nbsp;&nbsp;&nbsp;

					<a href="https://www.facebook.com/SOLIDARITES.INTERNATIONAL" target="_blank" class="social">
						<i class="icon icon-fb">
						    <svg viewBox="0 0 117.7 226.6" class="svg-fb">
						        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/waterquest/assets/svg/sprite.svg#svg-fb"></use>
						        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-fb"></use>
						    </svg>
						</i>
					</a>

					<a href="https://twitter.com/solidarites_int" target="_blank" class="social">
						<i class="icon icon-tw">
						    <svg viewBox="0 0 200 162.5" class="svg-tw">
						        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/waterquest/assets/svg/sprite.svg#svg-tw"></use>
						        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-tw"></use>
						    </svg>
						</i>
					</a>

					<a href="https://www.instagram.com/solidaritesinternational/" target="_blank" class="social norounded">
						<i class="icon icon-insta">
						    <svg viewBox="0 0 59.9 59.9" class="svg-insta">
						        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/waterquest/assets/svg/sprite.svg#svg-insta"></use>
						        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-insta"></use>
						    </svg>
						</i>
					</a>

					<a href="https://www.youtube.com/user/SOLIDARITES" target="_blank" class="social norounded">
						<i class="icon icon-youtube">
						    <svg viewBox="0 0 459.9 189.2" class="svg-youtube">
						        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/waterquest/assets/svg/sprite.svg#svg-youtube"></use>
						        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-youtube"></use>
						    </svg>
						</i>
					</a>
				</li>
			</ul>

			<a href="http://www.solidarites.org" target="_blank" class="main-logo"></a>

		</footer>


		<!-- scripts:vendor -->
		<script defer src="/waterquest/assets/js/vendor/modernizr.js"></script>
		<script defer src="/waterquest/assets/js/vendor/detectizr.js"></script>
		<script defer src="/waterquest/assets/js/vendor/jquery-1.8.3.min.js"></script>
		<script defer src="/waterquest/assets/js/vendor/jquery.easing.js"></script>
		<script defer src="/waterquest/assets/js/vendor/preloadjs-0.6.2.min.js"></script>
		<script defer src="/waterquest/assets/js/vendor/TweenMax.js"></script>
		<!-- ./scripts:vendor -->

		<!-- scripts:app -->
		<script defer src="/waterquest/assets/js/utils.js"></script>
		<script defer src="/waterquest/assets/js/pages.js"></script>
		<script defer src="/waterquest/assets/js/app.js"></script>
		<!-- ./scripts:app -->

		<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-15931825-1', 'auto');
      ga('send', 'pageview');

    </script>
		<script defer>
			document.addEventListener('DOMContentLoaded', function() {
				new App();
			});
		</script>
	</body>
</html>
