<!doctype html>
<html class="no-js" lang="fr">
  <head>
    {% include analytics/woopra.html %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.url}}/css/foundation.css" />
    <link rel="stylesheet" href="{{site.url}}/css/app.css" />
    <link rel="stylesheet" href="{{site.url}}/css/blog/app.css" />
    <script src="{{site.url}}/js/vendor/modernizr.js"></script>
  </head>
  <body id="accueil">
    {% include stickybar.html %} 
    <div class="row full-width" style="background-image:url('{{site.url}}{{page.image}}');height: 400px;">
                <div class="small-9 large-centered columns">
                    <h1>{{ page.title }}</h1>
                </div>
    </div>
    {% include menu.html %}
    <div class="row">
        <div class="large-12 columns" role="content">
            {{ content }}
        </div>
    </div>
    
    {% include footer.html %}
	{% include analytics/analytics.html %}
    <script src="{{site.url}}/js/vendor/jquery.js"></script>
    <script src="{{site.url}}/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
     
       
     
     
       
     
    
