<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.titre }}</title>
        <link rel="stylesheet" href="{{site.url}}/css/foundation.css" />
        <link rel="stylesheet" href="{{site.url}}/css/app.css" />
        <link rel="stylesheet" href="{{site.url}}/css/intlTelInput.css">
        <script src="{{site.url}}/js/vendor/modernizr.js"></script>
        {% include analytics/woopra.html %}
        {% include elements/extractparam.html %}
    </head>
    <body>
        <div class="row">
            <div class="small-12 medium-12 large-12 columns center"><a href="http://www.carefrance.org/"><img src="{{ page.image }}" width="970"/></a></div>
            <div class="small-12 medium-12 large-12 columns">
                <div class="row">
                    {% if page.form.activate == true %}
                        <div class="small-12 medium-12 large-7 columns">
                        {{ content }}
                    </div>
                        <div class="small-12 medium-12 large-5 columns">
                    {% include elements/form.html %}
                </div>
                    {% else %}
                        <div class="small-12 medium-12 large-12 columns">{{ content }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include footer.html %}
        <script src="{{site.url}}/js/vendor/jquery.js"></script>
        <script src="{{site.url}}/js/foundation.min.js"></script>
        <script src="{{site.url}}/js/intlTelInput.min.js"></script>
        <script>
            $(document).foundation();
        </script>
        <script>
            $(document).ready(function(){
               if ("email" in p){
                   $("input[name='email']").val(p["email"]);
               }
               if ("civility" in p){
                   $("#civility option[value="+p["civility"]+"]").prop("selected", true);
               }
               if ("firstname" in p){
                   $("input[name='firstname']").val(p["firstname"]);
               }
               if ("lastname" in p){
                   $("input[name='lastname']").val(p["lastname"]);
               }
               if ("address1" in p){
                   $("input[name='address1']").val(p["address1"]);
               }
               if ("address2" in p){
                   $("input[name='address2']").val(p["address2"]);
               }
               if ("postcode" in p){
                   $("input[name='postcode']").val(p["postcode"]);
               }
               if ("city" in p){
                   $("input[name='city']").val(p["city"]);
               }
               if ("phone" in p){
                   $("input[name='phone']").val(p["phone"]);
               }
            });
        </script>
    </body>
</html>
     
       
     
     
       
     
    
