<!doctype html>
<html ng-app="petition">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
	<script src="{{site.url}}/js/petition.js"></script>
    <link rel="stylesheet" href="{{site.url}}/css/bootstrap.min.css">
</head>
<body>
    {% include menu.html %}

    <div class="container">
        {{ content }}
		<div ng-controller="SignatoryCtrl">
			<h2>{{message}}</h2>
			<h3>Déjà {{counter}} signatures.</h3>
			<p ng-repeat="user in users">{{user.firstname}} {{user.lastname}} : {{user.email}}</p>
			<form name="signatoryForm"
			ng-submit="signatoryForm.$valid && addSignatory()"
			novalidate>
				<select ng-model="signatory.civility" required>
					<option value="Mr">Mr</option>
					<option value="Mme">Mme</option>
				</select>
				<input ng-model="signatory.email" type="email" placeholder="Votre email" required>
				<input ng-model="signatory.firstname" type="text" placeholder="Prénom" name="firstname" required>
				<input ng-model="signatory.lastname" type="text" placeholder="Nom" required>
				<input ng-model="signatory.optin" type="checkbox">Abonnez-vous à notre newsletter</input>
				<input type="submit" value="Valider">
			</form>
		</div>
        {% include footer.html %}
    </div> <!-- /container -->

    {% include analytics.html %}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{site.url}}/js/bootstrap.min.js"></script>
</body>
</html>

